@model IEnumerable<Sport.Domain.Entities.MMRelation.MealFoods>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThatDay.EnumMealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThatDay.NutritionDays.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThatDay.EnumMealType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThatDay.NutritionDays.Name)
            </td>
 
        </tr>
}
    </tbody>
</table>
