@model IEnumerable<Sport.Domain.Entities.Movement>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Hareketler";
}

@section Classlar{


    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> }

<h4>Kayıtlı Hareketleriniz</h4>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-controller="Movements" asp-action="Create">Hareket Ekle</a>
    </p>
}
<div class="card shadow mb-4">
    <div class="card-header py-3" style="background-color:darkgrey">
        <h6 class="m-0 font-weight-bold text-primary" style="color:coral">Hareket Listesi</h6>
    </div>
    <div class="card-body" style="background-color:white">
        <div class="table-responsive">
            <table class="table table-bordered" id="hareketTablosu" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <label>İsim</label>
                        </th>
                        <th>
                            <label>Fotoğraf</label>
                        </th>
                        <th>
                            <label>Açıklama</label>
                        </th>
                        <th>
                            <label>Bölge</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovementName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovementPhoto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MovementDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnumMovementType)
                            </td>
                            <td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Güncelle</a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                }
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Detay</a>                           
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Script{

    <!-- Bootstrap core JavaScript-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/demo/datatables-demo.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            $('#hareketTablosu').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                }
            });
        });
    </script>

}