@model Sport.Domain.Entities.Food

@{
    ViewData["Title"] = "Sil";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Food</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloriValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarbohydrateValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarbohydrateValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OilValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OilValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiberValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiberValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnumFoodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnumFoodType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye geri dön</a>
    </form>
</div>
